footer{
    padding: 20px 120px;
    background-color: black;
    display: flex;
    justify-content: space-between;
   gap: 30px;

}
.footer-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: white;
  }

  footer p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
  }

  footer ul {
    list-style-type: none;
    padding: 0;
    color: white;
  }

  footer li {
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
  }

  footer a {
    color: white;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }

  footer {
    background-color: #000000; /* Темный фон для футера */
    color: white; /* Цвет текста */
    padding: 20px 4%; /* Отступы сверху и снизу */
    display: flex;
    flex-direction: column;
}

.footer-row{
  display: flex;
  flex-direction: row;
  gap:30px;
}

.logo img {
    max-width: 150px; /* Максимальная ширина логотипа */
}

.footer-container {
    display: flex; /* Используем flexbox для выравнивания колонок */
    justify-content: space-around; /* Равномерное распределение колонок */
    margin: 20px 0; /* Отступы сверху и снизу для контейнера */
    flex-direction: revert;
}

.col {
    flex: 1; /* Каждая колонка занимает равное пространство */
    margin: 0 15px; /* Отступы между колонками */
    min-width: 200px; /* Минимальная ширина колонки */
}

h4 {
    margin-bottom: 10px; /* Отступ снизу для заголовков */
    font-size: 18px; /* Размер шрифта заголовков */
}

ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}

ul li {
    margin-bottom: 8px; /* Отступы между элементами списка */
}

ul li a {
    color: #ff6f61; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

ul li a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

.footer-bottom {
    margin-top: 20px; /* Отступ сверху для нижней части футера */
    font-size: 14px; /* Размер шрифта для нижней части */
    display: flex;
    justify-content: center;
    align-content: center
}