*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
    box-shadow: -6px -6px 20px 0;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(241 154 239);
    line-height: 1.6;
}
.header_links{
    font-size: 18px;
    display:flex;
    gap:30px;
    padding: 0 20px;
    justify-content:center;
    column-gap: 25px;
    row-gap: 10px;
    position: relative;
    align-items: center;
}
.header_links:first-child {
    margin: 0px;
    align-items: center;
}

.header_links a, .header_links_dropdown {
    font-size: 18px;
    color:black;
    transition: 0.2s linear;
    border-radius: 8px;
    padding: 5px;
    align-items: center;
    position: relative;
    flex-direction: row;
    text-transform: capitalize;
}

    .header_links a:hover {
        color: red;
        box-shadow: 13px;
        outline: 2px solid;
        align-items: center;
    }
.header_logo img {
    width: 60px;
   
}

.header_links_dropdown:hover .header_links_dropdown_items{
    display: flex;
    position: absolute;
    padding-top: 10px;
   
   
   
}

.header_links_dropdown_items{
    display: none;
   
    

   
}
.header_links_dropdown_items-con{
    display:flex;
    flex-direction: column;
    background:rgb(212, 207, 207);
    border-radius: 8px;
    padding: 8px;
    gap: 5px;
    margin-top: 10px;
    align-items: center;
}

.sandwich svg{
    justify-content: flex-start;
    display: none !important;
    

}

.info{
    flex-direction: column;
    font-size: 17px;
    background: white;
    border-radius: 8px;
    padding: 5px;
    display:flex;
    
}
.navigator{
    display: flex;
    gap:5px;
    align-items: flex-start;
    justify-content: flex-start;

}

.header_links img{
    width: 15px;
    /* height: 15px; */
    flex-direction: row;

}
.header_links img:hover{
    width: 15px;
    height: 15px;
    flex-direction: row;

}
.work{
font-size: 14px;
color: grey;
display: flex;
justify-content: end;
}
.phone{
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
    
}
.phone svg{
   
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}

.items {
    display: flex;
    color:black;
    align-items: center;
    flex-direction: column-reverse;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    transition: 0.2s linear;
}

.menuinfo{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 30px;
}

.menunumber{
    display: flex;
}
.menuwork{
    font-size: 14px;
    color: grey;
    padding-left: 60px;
}
.items a{
    color: black;
    border-radius: 8px;
    transition: 0.2s linear;
    padding: 2px;
}
.items a:hover {
    color: red;
    box-shadow: 13px;
    outline: 2px solid;
    align-items: center;
    
   
}
.items svg{
    display: flex;
    align-items: center;
    
}
.logo img{
    
    max-width: 150px;
    height: auto;
    

}

.drop-menu img{
    display: none;
    width: 100%;
    max-width: 35px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
    transform: translateX(100%);
    z-index: 1000;
}

.menu-modal.active {
    display: block;
    transform: translateX(0);
}

.menu-modal-header {
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.modal-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}

.link {
    display: block;
    margin: 20px 0;
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

.logout button{
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    align-items: center;
    border-radius: 8px;
    border: none;
    background-color: rgb(201, 89, 245);
    transition: .2s linear;
    cursor: pointer;
}

.modal-content-menu{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}