body{
    background-color:#eeeeee;

   
}
main{
    padding: 0;
    margin: 0;
    
   
    
}

.news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    

}

.news svg, a{
    margin: 5px;
    display: flex;
    flex-direction: column;
    color:rgb(0, 0, 0);
    cursor: pointer;
    align-items: center;
    position: relative;

}


.menu_dropdown {
            
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; /* Позволяет элементам переноситься на новую строку */
  justify-content: space-between; /* Распределяет элементы по горизонтали */
  gap: 10px; 
}
.oneblock,.form-oneblock{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  
}

.dvablock, .form-dvablock{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;

}


.menu_dropdown button {
   background-color: #000000; 
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s, transform 0.3s;
  /* flex: 1 1 calc(30% - 10px); Занимает 30% ширины с учетом отступов */
  /* min-width: 120px; Минимальная ширина ссылки */
  /* max-width: 200px; Максимальная ширина ссылки */
  position: relative; /* Для абсолютного позиционирования псевдоэлементов */
  overflow: hidden; /* Скрывает содержимое, выходящее за пределы */
  flex: 1 1 auto; /* Элементы могут уменьшаться и расти */
  /* min-width: 80px; Минимальная ширина ссылки */
  /* max-width: 200px; Максимальная ширина ссылки */
  white-space: nowrap; /* Запрет на перенос текста */
  overflow: hidden; /* Скрывает переполнение */
  text-overflow: ellipsis; /* Добавляет многоточие для длинного текста */
}


.menu_dropdown button:hover{
    color:white;
    cursor: pointer;

    align-items: center;
    outline: 2s solid;
    border-radius: 8px; 
    outline: 2px solid;
    background-color:rgb(236, 103, 230); /* Цвет фона при наведении */
    color: #ffffff; /* Цвет текста при наведении */
     transform: scale(1.05); /* Увеличение при наведении */
    border-radius: 30px;
    
   
   
    
   
}







.name_lenta{
    margin: 10px;
    padding: 20px;
  

   
   
    
}
.name_lenta a{
    align-items: flex-start;
    font-size: 25px;
    border-radius: 9px;
    color:rgb(0, 0, 0);
    padding: 2px;
    width: 17%;
    

}
.name_lenta a:hover{
    color:red;
}
    
   



.lenta{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 0px 1px 0 0;
    justify-content: center;
    white-space: nowrap;
    overflow-x: auto;
    display: flex; /* Используем flexbox для горизонтального размещения карточек */
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    justify-content:left;
    
   
}
.catalog-lenta{
  display: grid;
   grid-template-columns: repeat(4,300px);
   justify-content: center;
}
.catalog-cake_card{
  width: 90%;
    box-shadow: 0 0 2px 0;
    gap: 10px;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    flex-direction: column;
    border-radius: 12px;
    margin-top: 20px; /* Отступ между карточками */
    margin-left: 10px;
    border: 1px solid #ccc; /* Граница карточки */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Тень карточки */
}

.cake_card{
  display: flex;
  flex: 0 0 auto; /* Не позволяет карточкам сжиматься */
  scroll-snap-align: center; /* Центрирует карточки при прокрутке */
  max-width: 300px;
  flex-direction: column;
  min-width: 200px;
    width: 70%;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    border-radius: 12px;
    margin: 20px; /* Отступ между карточками */
    border: 1px solid #ccc; /* Граница карточки */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Тень карточки */
}

.image img{
    display:flex;
    max-width: 100%;
    border-radius: 5%;
    object-fit: cover;
    height: auto;
    /* margin-bottom: 10px; Отступ между изображением и текстом */


}
.image:hover{
    cursor: pointer;
     background-color: rgb(159, 10, 228); 
    box-shadow: 0 0 20px 0 rgb(159, 10, 228);
    border-radius: 12px;

}

.info_cake{
    padding: 10px;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 5px;
}

.info_cake h2{
    display: flex;
    font-weight: bold;
    font-size: 18px; /* Размер заголовка */
    margin-bottom: 5px; /* Отступ между заголовком и описанием */
  
}


.button button{
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    align-items: center;
    border-radius: 8px;
    border: none;
    background-color: rgb(201, 89, 245);
    transition: .2s linear;
    cursor: pointer;
}
.button  button:hover{
    background-color: rgb(159, 10, 228);
    box-shadow: 0 0 20px 0 rgb(159, 10, 228);

}
.button button:active{
    background-color: rgb(212, 0, 255);
    box-shadow: 0 0 20px 0 rgb(159, 10, 228);
    transform:translate3d(2px)
   

}
.katalog {
    position: relative;
    overflow: hidden;
    overflow-x: auto; /* Позволяет горизонтальную прокрутку */
    white-space: nowrap; /* Убирает перенос строк */
  }
  
  .lenta > div {
    
    flex: 0 0 auto;
    width: 220px;  /* Ширина элемента */
    height: auto;
    
  }

  .about{
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 20px 50px
  }
  .text{
    margin: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;

  }
  .text img{
    box-sizing: border-box;
    width: 40%;
  }
  .text li{
    font-size: 20px;
  }

  .question{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    position: relative;

  }

  .question_container a{
    color:black; 
    gap:10px;
    display: flex;

 }
 .anime img{
    width: 100%;
    
 }
 .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
 }
  .button span {
    font-weight: bold;
    font-size: 16px; /* Размер цены */
  }
  



.CreateMain{

    display: flex;
    flex-direction: column;
    max-width: 100%;    
    padding: 10px;
    box-shadow: 0 0 2px 0;
    height: auto;
    border-radius: 8px;
    background-color: rgb(236, 103, 230);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    gap: 10px;
  }

  .WindowForm{
    display: flex;
    flex-direction: column;
    gap:30px;

  }
  .AddProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }
  .CreateForm{
    gap: 10px;
    display: flex;
    flex-direction: column;

  }

  .CreateMain label{
    display: flex;
    gap: 30px;
  }

  .select{
    display: flex;
    gap: 5px;
  }
  .CreateFormChoose{
    gap:5px;
max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .ChooseProduct{
    font-size: 18px;

  }
  
 
  .CreateForm input, .ChooseProduct{
    display: flex;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
    
  }

  .SendProduct{
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    align-items: center;
    border-radius: 8px;
    border: none;
    background-color: rgb(248, 22, 6);
    transition: .2s linear;
    cursor: pointer;
  }
  .SendProduct input{
    display: flex;
    
  }
    .SendProduct:hover{
      background-color: rgb(32, 238, 14);
      box-shadow: 0 0 20px 0 rgb(227, 243, 6);
    }
  
      .SendProduct:active{
      background-color: rgb(21, 255, 0);
      box-shadow: 0 0 20px 0 rgb(230, 255, 1);
      transform:translate3d(2px)
     
  
  }
  
  .Description{
    padding: 10px;
    height: 200px;
  resize: none; 
  font-size: 18px;
  }

  

.item-container {
  text-align: center;
}

.thumbnail-image {
  width: 200px; /* Размер миниатюры */
  cursor: pointer; /* Указатель при наведении */
}

.fullscreen-modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оверлей на весь экран */
  z-index: 9999; /* Убедитесь, что z-index высокое значение */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Прокрутка, если нужно */
  background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон */
}

.fullscreen-image {
  margin: auto;
  display: block;
  width: auto; /* Автоматическая ширина */
  max-width: 90%; /* Максимальная ширина */
  max-height: 90%; /* Максимальная высота */
}
.cookie-consent {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000; /* Темный фон */
  color: white; /* Цвет текста */
  padding: 15px 20px; /* Отступы */
  border-radius: 5px; /* Закругленные углы */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
  display: none; /* Скрыто по умолчанию */
  z-index: 1000; /* На переднем плане */
}

.cookie-content {
  display: flex;
  justify-content: space-between; /* Выравнивание содержимого */
  align-items: center; /* Центрирование по вертикали */
}

.cookie-content a {
  color: #fa52e4; /* Цвет ссылки */
}

.cookie-button {
  background-color: #ff6f61; /* Цвет кнопки */
  color: white; /* Цвет текста на кнопке */
  border: none; /* Убираем границу */
  padding: 10px 15px; /* Отступы */
  border-radius: 5px; /* Закругленные углы */
  cursor: pointer; /* Указатель при наведении */
  transition: background-color 0.3s; /* Плавный переход */
}

.cookie-button:hover {
  background-color: #e55a50; /* Цвет кнопки при наведении */
}


