
.modalwindow {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.507);
}

.modalcontent {
    position: relative;
    margin: auto;
    padding: 40px;
    border: 1px solid #000000;
    width: 90%;
    max-width: 700px;
    /* max-height: 700px; */
    background-color: white;
}
.conteiner-fullwindow{
    display: flex;
    flex-direction: column;
}

.modalimage {
    width: 300px;
    height: auto; /* Сохранить пропорции изображения */
    cursor: pointer;
}

.closebutton {
    position: absolute;
    top: 15px;
    right: 5px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(247, 0, 0);
    border-radius: 8px;
    box-shadow: 0 0px 2px 0;
    display: flex;
    flex-direction: row;
    transform: rotate(90deg);
    transform-origin: top left;
}
.closebutton:hover,
.closebutton:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  
}
.conteiner-center{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}
.titlecake{

    position: relative;
    /* width: 5%; */
    /* padding: 30px; */
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
fieldset{
    border: none;
}
.conteiner-left{
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.conteiner-right {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* .form-nachinka{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
} */
.select-nachinka{
    flex-direction: column;
    display: flex;
    width:100%;
    max-width: 300px;
    gap: 5px;
}
.select-nachinka select#quantity{
    border-radius: 8px;
    outline: auto;
    padding: 4px;


}
  
  .form-nachinka{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  
.faq-modal{
    flex-direction: row;
  list-style: none;
  margin-bottom: 10px;
  padding: 15px;
  border-bottom: 2px solid #6d6b6b;
}

.list-modal{
    display: flex;
    flex-direction: row;
    max-width: 600px;
}