*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
 
}


a {
    text-decoration: none;
    
}


  


@media (min-width: 1200px){

}
@media only screen and (min-width: 1025px){

   

   .navigator{
    justify-content: flex-start;
    
   }
    
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    

    .sandwich svg{
      display: flex !important;
    }

    .navigator svg , .City{
        display:none;
    }
    .header_links a{
        display:none;
    }

    .header_logo img{
        display: none;
    }
    .anime img{
        display: none;
    }
    .info{
        display: none !important;
    }
    

}
@media only screen and (max-width: 600px){

    
    .header_links a{
        display: none;
    }
    .header_logo img{
        display: none;
    }
    .navigator svg, .City{
        display:none;
    }
    .anime img{
        display: none;
    }

    .info, .phone, .work{
        display: none !important;
    }

    .footer-container{
        display: none !important;
    }
    
    
    
}