*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
 
}


a {
    text-decoration: none;
    
}


  


@media (min-width: 1200px){

}
@media only screen and (min-width: 1025px){

   

   .navigator{
    justify-content: flex-start;
    
   }
    
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    

    .sandwich svg{
      display: flex !important;
    }

    .navigator svg , .City{
        display:none;
    }
    .header_links a{
        display:none;
    }

    .header_logo img{
        display: none;
    }
    .anime img{
        display: none;
    }
    .info{
        display: none !important;
    }
     .trubleblock{
        flex-direction: column !important;
    }
    .doubleblock{
        flex-direction: column !important;
    }
     

}
@media only screen and (max-width: 600px){

    
    .header_links a{
        display: none;
    }
    .header_logo img{
        display: none;
    }
    .navigator svg, .City{
        display:none;
    }
    .anime img{
        display: none;
    }

    .info, .phone, .work{
        display: none !important;
    }

    .footer-container{
        display: none !important;
    }
    
    .trubleblock{
        flex-direction: column !important;
        width: 300px !important;
    }
    .doubleblock{
        flex-direction: column !important;
        width: 300px !important;
    }
    .block_client{
        flex-direction: column !important;
    }
    .info_users input, .span {
       
        width: auto !important;
    }
    .basket{
        display: none !important;
    }
    .drop-menu img{
        display: flex !important;
    }

    /* .menu_dropdown{
        display: flex;
            flex-wrap: wrap !important; /* Позволяет элементам переноситься на новую строку */
           /*  gap: 15px; /* Пробел между элементами */
        /* flex-direction: row !important;
        background:none !important; */

  /*   }
    /* 
  /*  .menu_dropdown a{
        flex: 1 1 100%; /* Занимает 100% ширины на экранах меньше 480px *//* background:rgb(212, 207, 207) !important;
     /*    border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
         text-decoration: none;
        color: #333;
        transition: background-color 0.3s, transform 0.3s;

    } */
    
}