.modal {
   /*display: none;
    position: fixed;*/
    z-index: 1000;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(175, 170, 170, 0.507);
    gap: 10px;
  }
  
  /* Стили содержимого модального окна */
  .modal-content {
    /* position: relative;
    margin: auto; */
    padding: 40px;
    border: 1px solid #000000; 
    /* width: 80%;
    max-width: 500px; */
    width: 100%;
    background-color:none;
    display: flex;
    gap:20px;
    justify-content:space-around;
    align-items: stretch;
    
  }
  
  /* Стили заголовка модального окна */
  .modal-header {
    padding: 10px 15px;
    background-color: #d111a7;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background-color: #000;
    
  }
  
  /* Стили кнопки закрытия модального окна */
  .close {
    position: absolute;
    top: 15px;
    right: 5px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(247, 0, 0);
    border-radius: 8px;
    box-shadow: 0 0px 2px 0;
    display: flex;
    flex-direction: row;
    transform: rotate(90deg);
    transform-origin: top left;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Стили тела модального окна */
  .modal-body {
    padding: 20px 25px;
    box-shadow: 0px 1px 0px 0px;
    border-radius:8px ;
  }
  
  /* Стили футера модального окна */
  .modal-footer {
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 250px;
    height: 400px;
  }
  
  
  /* Стили кнопки оформления заказа */
  .btn-primary {
    border: 2px solid #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    border-radius: 8px;
    padding: 3px 5px 5px 5px;
    background: #00ee5b;
    color: snow;
    cursor: pointer;
    
   
  }
  
  .btn-primary:hover,
  .btn-primary:focus {
    background-color: rgb(21, 255, 0);
    box-shadow: 0 0 10px 0 rgb(0, 243, 12);
    transform:translate3d(2px);
    color: white;
    border-radius: 8px;
    
  }

  .info_users{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap:15px;
    background-color: snow;
    box-shadow: 0px 1px 0px 0px;
    border-radius: 8px;


  }
  .info_users span{
    color:black;
    

  }
  .info_users input, .span{
    padding: 10px;
    width: 300px;
    display: flex;
    border-radius: 8px;
    
  }
  .comment{
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
  .comment textarea{
    max-height: 90px;
    max-width: 600px;
    padding: 10px;
    display: flex;
    border-radius: 8px;
    font-size: 15px;
    position: static;
    resize: none;
    width: 100%;
  }
  .ChooseDelivery {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
  }
  .form_radio_btn {
    display: inline-block;
    margin-right: 10px;
  }
  .form_radio_btn input[type=radio] {
    display: none;
  }
  .form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
  }
   
  /* Checked */
  .form_radio_btn input[type=radio]:checked + label {
    background: #41f330;
  }
   
  /* Hover */
  .form_radio_btn label:hover {
    color: #2aaa50;
      border-color: #41f330;
  }
   .fotka{
      display: flex;
   align-items: center;
   gap:5px;
   flex-direction: column;
  
   }
   .fotka span{
    display: flex !important;
      font-size: 15px;
      
   }
   .fotka input{
    color: #d111a7;

   }
   .fotka input[type=file]{
     
      width: auto;
      max-width: 100%;
      color: #444;
      padding: 5px;
      background: #fff;
      border-radius: 10px;
      border: 1px solid #555;
    
   }
   .form_users span{ 
    display: flex !important;
   }
   .date2 span{
    display: contents !important;
    flex-direction: column;
   }
   .Form_street span{
    display: contents !important;

   }
   .delivery{
    flex-direction: column;
    display: flex;
    gap:5px;

   }
   .block_header{
    display: flex;
    background-color: snow;
    flex-direction: column;
    border-radius: 8px;
   }
  

.doubleblock{
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 900px; */
  width: auto;
}
.trubleblock{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: auto;
}

.block_body{
  display: flex;
    background-color: snow;
    flex-direction: column;
    border-radius: 8px;
}

.block_client{
  display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}
.info_client{
  display: flex;
    align-items: flex-start;
    font-size: 20px;
    flex-direction: column;
    justify-content: start;
}
.info_client span{
  color: gray;
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.client, .client_delivery{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.double_client{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.client_name_lastname{
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.client_connection{
  display: flex;
  gap: 20px;
  flex-direction: column;
}

#1:checked ~ .client_delivery{
  display: flex;
}
